.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header1 {
    width: auto; /* Kích thước cố định cho logo */
    height: 48px;
}

.header2 {
    width: auto; /* Hoặc cố định nếu cần */
    height: 22px;
}

.header1 img {
    width: 100%; /* Logo chiếm toàn bộ chiều rộng của .header1 */
    height: auto;
    max-height: 48px;
    object-fit: contain;
}

.header2 img {
    height: 100%; /* Menu chiếm toàn bộ chiều cao của .header2 */
    width: auto;
    object-fit: contain;
}

button{
    width: auto;
    height: 25px;
}